* {
  margin: 0px;
  padding: 0px;
}
html,
body {
  font-family: "Mada", "Mada", sans-serif;
  line-height: 1.7em;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #046368;
  /* color: rgb(167, 1, 112)47, 70); */
  font-size: larger;
}
/* NAVBAR SECTION */
.container {
  justify-content: space-around;
  background-color: #ffffff91;
  width: 100%;
  align-items: center;
  position: fixed;
  margin-top: 0%;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
#navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}
#navbar ul {
  display: flex;
  align-items: flex-end;
  margin-right: 10px;
  color: #004346;
}
#navbar ul li {
  list-style: none;
  justify-content: center;
  align-items: center;
  padding: 0px 5px;
  color: #004346;
  position: relative;
  display: flex;
}

#navbar ul li a {
  position: relative;
  margin: 0 20px;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 500px;
  /* transition: 0.6s; */
}
header .sticky ul li a {
  color: #000;
}

#navbar ul :hover {
  color: #ffc28c;
  /* text-decoration: underline; */
}

#logo img {
  width: 40px;
  margin-left: 30px;
}

.partner_logo {
  min-width: 50px;
  max-width: 100px;
}

.wireframe_btn {
  padding: 10px 40px 10px 40px;
  background-color: #0b666b;
  color: #ffcda2;
  border: #95cccf;
  border-radius: 20px;
  margin: 10px 0px 5px 2px;
  cursor: pointer;
}
.wireframe_btn:hover {
  background-color: #067c82;
}
.logout_btn {
  padding: 10px 40px 10px 40px;
  background-color: rgb(212, 31, 31);
  color: #ffe2c9;
  border: #95cccf;
  border-radius: 20px;
  margin: 10px 0px 5px 2px;
  cursor: pointer;
}
.logout_btn:hover {
  background-color: rgba(238, 59, 39, 0.959);
}

/* HERO PAGE STARTS HERE */
.Hero {
  padding-top: 100px;
  padding-bottom: 50px;
  position: relative;
  width: 100%;
  height: 58vh;
  background: url(../images/gech.jpeg);
  background-repeat: repeat;
  background-size: contain;
  background-position: center;
  opacity: 1;
  overflow: hidden;
}
.hero_container {
  display: flex;
}

#Hero_text {
  text-align: left;
  font-size: x-large;
  color: #ffcda2;
  margin: 50px;
  line-height: 30px;
}
#Hero_text p {
  padding-top: 20px;
  font-size: medium;
  line-height: 30px;
}
.Hero #waves {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
}
.location {
  margin: 40px 0px 50px 280px;
  color: #ffe1d4;
  text-align: right;
  justify-content: space-between;
}
#info {
  font-size: 40px;
  padding: 10px;
  line-height: 1;
}
.location p {
  padding: 10px;
  font-size: 30px;
  line-height: 1;
  text-align: right;
}
.location_btn {
  padding: 20px 30px 20px 30px;
  margin: 10px;
  background-color: #008b92;
  border-radius: 15px;
  color: #fff;
  border: #004346;
  cursor: pointer;
}
.location_btn:hover {
  background-color: #2ea5ac;
}

/* EVENT SECTION STARTS HERE */
.event_section {
  padding: auto;
  background-color: #ffe1d4;
}
.event_section img {
  width: 400px;
  border: #004346;
  border-radius: 20%;
  padding: 30px;
}

.event_card {
  display: flex;
  margin: 10px 70px 0px 20px;
  padding: 30px 50px;
  justify-content: space-between;
}
.event_note {
  padding: 90px 20px 20px 50px;
  margin: 5px;
  width: 80%;
  font-size: 25px;
  text-align: justify;
  line-height: 1.5;
}
.event_title {
  font-family: cursive;
  font-size: 40px;
  padding-top: 10px;
  text-align: center;
}
.event_btn {
  padding: 15px;
  text-align: center;
  cursor: pointer;
}
.event_btn_ {
  padding: 15px 60px 15px 60px;
  margin: 10px 0px 10px 200px;
  background-color: #008b92;
  border-radius: 15px;
  color: #fff;
  font-size: medium;
  cursor: pointer;
  border: #004346;
}
.event_btn_view {
  padding: 15px 100px;
  margin: 10px;
  background-color: #004346;
  color: #ffcda2;
  border: #008b92;
  border-radius: 20px;
  font-size: 25px;
  border: #004346;
  cursor: pointer;
}
.event_btn_view:hover {
  background-color: #008b92;
}

/* TICKET BOOKING SECTION */
.ticket_booking {
  background-color: #004346;
  color: #fff;
  padding: 150px;
  text-align: center;
  font-size: xx-large;
  line-height: 1.5;
  /* scroll-snap-align: start; */
}

.event_book_btn {
  display: flex;
  padding: 20px;
  border: #002c2f;
  margin-left: 40px;
  cursor: pointer;
}

.partners {
  display: flex;
  justify-content: space-around;
  background-color: #ffe1d4;
  padding: 60px;
}
.footer {
  background-color: #008b92;
  font-size: smaller;
  padding: 20px;
  color: #fff;
  text-align: center;
}
#parter_text {
  margin: 100px 0px, 10px 10px;
  font-size: larger;
  font-weight: bold;
  text-align: end;
}

.Documentation {
  font-size: 15px;
}
.container_event {
  text-align: center;
  /* height: 80vh; */
  padding-top: 150px;
}
#search-input {
  margin: 20px 40px;
  padding: 10px 50px;
  border: 2px #004346 solid;
  border-radius: 20px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  align-items: center;
}

.brands_dropdown {
  display: none;
  position: relative;
  width: 100%;
  border: 1px solid #004346;
  border-radius: 30px;
  background: #ffe1d4;
  padding: 0;
  margin: 0;
}

.brands_dropdown ol {
  padding: 5px 0px;
  text-decoration: none;
  cursor: pointer;
}

/* THE CARDS SECTION FO EVENTS PAGE */
.card_contain {
  display: grid;
  gap: 30px;
  padding: 30px 150px;
  grid-template-columns: auto auto auto auto;
}
.card_contain_event {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 100px;
  /* gap: 5px; */
}
.card {
  width: 240px;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  overflow: hidden;
  transition: box-shadow 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 60px;
}

.card:hover {
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 60px;
  transform: scale(1.05);
}

.card img {
  width: 100%;
  height: auto;
}

.card-content {
  padding: 16px;
}

.card-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.card-description {
  font-size: 14px;
  color: #666;
}
/* Buttons adjustment */
#events_display_btn {
  margin: 5px;
  justify-content: space-between;
  padding-left: 550px;
  place-content: center;
  cursor: pointer;
}

#tickets_header {
  padding: 10px 10px 40px 10px;
}
.error-messages {
  color: red;
  text-align: center;
}
